.footer {
  background: $dark-transparent;
  position: relative;
  bottom: 0;
  width: 100vw;
  margin-top: 3rem;
  color: white;
  display: flex;
  align-items: center;
  padding: 1rem;
  justify-content: center;
  img {
    width: 100px;
    margin: 1rem;
  }
}
