.header {
  padding: 1rem;
  color: $white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  h1 {
    margin: 0;
    @include respond-to(handhelds) {
      font-size: 1rem;
    }
  }
  a {
    color: $white;
    text-decoration: none;
    transition: border 150ms ease-in-out;
    padding: 0.3rem;
    margin: 0;
  }
}
a:hover,
a:focus {
  border-bottom: 1px solid $blue-a;
}
.header-overlay {
  background: $dark-transparent;
}

.nav {
}
.nav__element--home {
  @include respond-to(handhelds) {
    display: none;
  }
}
.nav__element {
  margin: 0.4rem;
}
