.home {
  display: grid;
  height: 100%;
  grid-template-columns: 1fr;
  padding: 1rem;
  gap: 4rem;
  justify-items: center;

  @include respond-to(wide-screens) {
    grid-template-columns: 1fr 1fr;
  }
}

.home__textarea {
  background-color: darken($color: $white-transparent, $amount: 50);
  color: white;
  padding: 1rem;
  font-size: 1.2rem;
  margin: 1rem 0;
  height: 100%;
  width: 85%;
  border-radius: 5px;
}
input:focus,
textarea:focus,
input:active,
textarea:active {
  outline: $dark-transparent auto 5px;
}
.home__textarea::placeholder {
  color: rgba(230, 227, 227, 0.817);
}
.portion {
  background: $white-transparent;
  width: 50px;
}
.overall {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 0.5rem;
}
.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 1rem auto;
  align-items: center;
  .btn {
    margin: 1rem 0;
  }
}
.table {
  width: 100%;
}

.share {
  margin-top: 1rem;
}
.home__head {
  color: white;
  background: $dark-transparent;
  padding: 0.5rem;
  margin: 1rem 0;
}
