.labels {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  grid-gap: 1rem;
  width: 100%;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 0;
}
.labels__element {
  background: $dark-transparent;
  color: white;
  padding: 0.5rem;
  font-size: 0.8rem;
  box-shadow: 1px 1px 10px $dark-transparent;
  border-radius: 6px;
}

.labels-container {
  background: $dark-transparent;
  padding: 1rem;
  margin-top: 1rem;
  border-radius: 5px;
}

.label__title {
  color: white;
}
