@import "./global.scss";
@import "./nutritrion-table.scss";
@import "./components/Home.scss";
@import "./components//Header.scss";
@import "./components/Footer.scss";
@import "./components/Alert.scss";
@import "./components/Loader.scss";
@import "./components/Labels.scss";
.App {
  background: url("../assets/bg.jpg");
  background-position: center;
  background-size: cover;
}
