@import "./global.scss";
@import "./nutritrion-table.scss";
@import "./components/Home.scss";
@import "./components//Header.scss";
@import "./components/Footer.scss";
@import "./components/Alert.scss";
@import "./components/Loader.scss";
@import "./components/Labels.scss";
@import "./components/Help.scss";
@import "./components/Add.scss";
@import "./components/AddStatus.scss";
@import "./components/Recipes.scss";
.App {
  background: url("../assets/bg.jpg");
  height: 100%;
  background-position: center;
  background-size: cover;
  overflow: hidden;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
